nav {
    display: flex;
    align-items: center;

    position: fixed;
    top: 50px; left: 50%;
    transform: translateX(-50%);

    width: 95%; height: 70px;
    padding: 0 1rem;

    background-color: orange;
    border-radius: 10px;
}

h1 { padding-left: 1rem; }

.nav-list {
    display: flex; gap: 1rem;
}

.nav-list a {
    position: relative;
}

.nav-list a::after {
    content: '';
    display: block;

    position: absolute;
    width: 0%; left: 50%;

    border-bottom: 2px solid black;

    transition-duration: 0.3s;
}

.nav-list a:hover::after {
    left: 0; width: 100%;
}